
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}





.font {
  font-family: cursive;
  background-image: linear-gradient(to right, rgb(240,240,240) 0%, white 20% 80%, rgb(240,240,240) 100%);
  font-size: 1.2em;
}

.foot {
  position: absolute;
  width:100%;
  margin:auto;
  bottom:0px;
}
.title {
  font-size: 33px;
}
.space {
  margin-top:90px
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.carousel-indicators li {
      height:10px !important;
width:10px !important;
    border-radius: 50%;
  top:10px;
}
.imgs {
  width:100%;
}

.carousel {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px, 0px black;
  max-width: 768px;
}
.slideshow {
margin:auto;
}
#about {
width:70%;
margin: 20px auto;
max-width: 500px;
}

#bio {
  max-width: 500px;
  margin:auto;
  width:70%;
  text-align: center;
  padding: 20px;
}
 button {
  background-color: white;
  border: 1px solid lightgrey !important;
  font-weight: bold !important;
  margin:20px 10px !important;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
background-color: rgba(0, 0, 0);
color:black;
}

@media (min-width: 1200px){
nav li {
  font-size: 1.1em;
}
.space {
  margin-top:150px;
}
}
@media (max-width: 767px){
nav li {
  border-top:.5px solid rgb(220, 220, 220, .8);
  padding-left: 10px;
  }
button:active {
  background-color: rgb(200, 200, 200, .5);
}
nav li:active {
  background-color:rgb(220, 220, 220);
  color:black;
}
}


@media (min-width: 768px) {
  button:hover {
   background-color: rgb(200, 200, 200, .5)
 }
 nav li {
   border-radius:5px;
 }
 nav li:hover {
   background-color:rgb(220, 220, 220);
   color:black;
 }
 }
}
